<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the Gumball Machine (New Improved Version)</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 align="center">Welcome to the Gumball Machine</h1>
    <form name="Gumball" method="post" action="/GumballAction">
    
    <p>
    <div align="center">
    <textarea name="message" cols="50" rows="15">
    
    Model Number : <%=modelNumber%>
    Serial Number: <%=serialNumber%>
    State : <%=state%>
    
    Number of Gumballs in the inventory <%=count%>
    
    </textArea>
    <input type="hidden" name="modelNumber" value=<%=modelNumber%>></input>
     <input type="hidden" name="serialNumber" value=<%=serialNumber%>></input>
    <input type="hidden" name="state" value=<%=state%>></input>
    <input type="hidden" name="count" value=<%=count%>></input>
    <input type="hidden" name="hashmessage" value=<%=hashmsg%>></input>
     <input type="hidden" name="id" value=<%=id%>></input>
    
    </div>
    </p>
    <p align="center">
    
    <img src='../images/giant-gumball-machine.jpg' width="385" height="316"  class='' onmouseover='Gumball'/>
    
    
    </p>
    
    <p align="center">
    <input type="submit" name="event" value="InsertQuater"/>
    &nbsp;&nbsp;&nbsp;&nbsp;
    <input type="submit" name="event" value="TurnTheCrank"/>
  </body>
</html>